name: CI

on:
  pull_request:
  push:
    branches: [ main, master, prod ]

# The list of permissions is explained on the GitHub doc:
# https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs
permissions:
  contents: read

jobs:
  linter:
    name: Linter on a PR
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-24.04
    steps:
      - uses: Scalingo/actions/go-linter@main

  tests:
    name: Unit Tests
    runs-on: ubuntu-24.04
    steps:
      - uses: Scalingo/actions/go-tests@main
        with:
          etcd: true
